.btn{
  max-height:45px;
  margin:1em 1em 1em 1em;
}

#classContainer{
  min-height:20vh;
}

#spellNameInput{
  text-transform:capitalize;
}

/*the CSS below is for the card flipping animation*/
.currentCard{
  perspective:1000px;
}
.currentCard, .front, .back{
  height:700px;
  width:500px;
}

.flipper{
  transform:rotateY(-180deg);
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
}
